.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item {
    padding: 16px;
}

.input {
    border-color: var(--corSecundaria);
}

.resultado {
    margin-top: 20px;
}